{% extends 'base.html' %}

{% block content %}

<form action="/get-product" method="post">

    <label for="product_id">ID Produktu:</label>
    <input type="text" id="product_id" name="product_id">
    <input type="submit" value="Submit">

</form>
<br>
<h2>Dane towaru</h2>
<div>
    {% if product %}
        <p>ID: {{ product.id }}</p>
        <p>Nazwa: {{ product.descriptions_lang_data[0].product_name }}</p>
        <p>Cena: {{ product.retail_price }}</p>
        <p>Kod: {{ product.displayed_code }}</p>
    {% endif %}
</div>

{% endblock content %}
